<h1>OneTransaction#index</h1>
<p>Find me in app/views/one_transaction/index.html.erb</p>
<p><%= @total %></p>
<% @group_entities.each do |entity|  %>
  <p><%= entity.name %></p>
  <p><%= entity.amount %></p>
<% end %>

<button><%= link_to "add a new transaction", new_user_category_entity_path %></button>