<%= render :partial => 'partials/header', locals: { screen_name: 'Let\'s start' } %>
<%= render :partial => 'partials/notification' %>

<div class="splash-container">
  <h1 class='app-intro'>You can log in or sign up!</h1>
  <p class='splash-login'><%= link_to "Login", new_user_session_path,  :class => "splash-login-text" %></p>
  <p class='splash-logout'><%= link_to "Sign Up", new_user_registration_path, :class => "splash-logout-text" %></p>
</div>
