/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-header {
  color: #8b98a5;
  font-size: 40px;
  margin-bottom: 100px;
}

.splash-container {
  text-align: center;
}

.splash-login,
.splash-logout {
  background-color: #60b625;
}

.splash-login-text,
.splash-logout-text {
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.signup {
  text-align: center;
}

.signup-button,
.login-btn {
  background-color: #60b625;
  color: white;
  font-size: 20px;
  margin-top: 50px;
  display: block;
  width: 100%;
  border: none;
  height: 30px;
}

.login-header {
  color: #8b98a5;
  font-size: 40px;
  margin-bottom: 30px;
}

.field {
  margin-top: 30px;
  text-align: left;
}

.inner-box {
  text-align: center;
  width: 80%;
  margin: auto;
}

.input {
  width: 100%;
}
