
<h1>Budget Categories</h1>
<% @categories.each do |cat|  %>
  <%= link_to user_category_entities_path(:category_id => cat.id) do %>
    <div>
      <p><%= cat.name %></p>
      <%= image_tag "#{cat.icon}", :class => "avatar" %>
      <br >
      <br >
      <br >
    </div>
  <% end %>
<% end %>

 <button><%= link_to "add a new category", new_user_category_path  %></button>
